@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: #E0E8FF;
  background-size: cover;
} 
.attribution { 
  font-size: 11px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 100;
  transform: translateY(6900%);
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container{
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 15px;
  width: 350px;
  height: 550px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.plan-area {
  background-color: #F8F9FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  height: 70px;
  width: 330px;
}
.blue-image {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: -4.6%;
}

.payment-btn {
  background-color: #382AE1;
  color: #fff;
  height: 40px;
  width: 330px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  cursor: pointer;
}

.payment-btn:hover {
  background-color: #1D1ECD;
}

.music-icon {
  padding: 14px;
}

.text, .text-price, .cancel-order, .change {
  font-weight: 100;
}

.change {
  position: relative;
  color: #1D1ECD;
  cursor: pointer;
  margin: 0%;
  left: 30%;
}

.plan-devided {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1px;
}

.text-plan, .text-price {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cancel-order {
  cursor: pointer;
  text-decoration: none;
  color: #717FA6;
}